.control-pink-btn {
  @include button-size(14px, 20px, 18px, 20px, 4px);
  @include outline-none;
  transition: all 0.3s ease;
  background-color: $color-pink;
  border-color: $color-pink;
  text-transform: uppercase;
  color: $color-white;
  cursor: pointer;

  @include hover-focus-active {
    background-color: $color-pink-darker;
    border-color: $color-pink-darker;
    color: $color-white;
  }
}

.control-gray-btn {
  @include button-size(12px, 20px, 16px, 20px, 4px);
  @include outline-none;
  transition: all 0.3s ease;
  background-color: $color-gray-dark;
  border-color: $color-gray-dark;
  text-transform: uppercase;
  color: $color-white;
  cursor: pointer;

  @include hover-focus-active {
    background-color: $color-gray-dark;
    border-color: $color-gray-dark;
    color: $color-white;
  }
}

.link-violet {
  @include link-variant($color-violet-darker);
}


.form-anchor-link {
  @include fixed(right 15px bottom 30px);
  padding: 10px 20px;
  display: none;
  max-width: 125px;
  width: 100%;
  text-align: center;
}


.control-green-btn {
  @include button-size(12px, 20px, 16px, 20px, 4px);
  @include outline-none;
  transition: all 0.3s ease;
  background-color: $color-green;
  border-color: $color-green;
  color: $color-white;
  cursor: pointer;
  font-family: $font-family-base;

  @include hover-focus-active {
    background-color: $color-green;
    border-color: $color-green;
    color: $color-white;
  }
}
