<footer>
  <div class="wrapper">
    <div class="footer-menu_title">
      <svg>
        <use xlink:href="#logo_white"></use>
      </svg>
    </div>
    <ul class="footer-menu_global">
      <li><a href="#benefits">Teacher Benefits</a></li>
      <li><a href="#how-works">How it works</a></li>
      <li><a href="#faq">FAQ</a></li>
    </ul>
    <div>
      <ul class="footer-socials">
        <li><a href="#">
          <svg>
            <use xlink:href="#icon-twitter"></use>
          </svg>
        </a></li>
        <li><a href="#">
          <svg>
            <use xlink:href="#icon-facebook"></use>
          </svg>
        </a></li>
      </ul>
      <span class="footer-menu_terms"><a href="#">Terms & Conditions</a> <a href="#">Privacy Policy</a> <span>Copyright © 2018 TeachPartTime.com, All rights reserved.</span></span>
    </div>
  </div>
</footer>
