.register-register-section {
  padding: 35px 0 80px;
  background-color: #e2e8ef;

  .register-card {
    @include center;
    max-width: 800px;
    padding: 20px;
  }

  .message {
    margin: 0 15px;
    padding: 15px 20px;
    background-color: $color-gray-light;
    font-size: 12px;
    line-height: 1;
    border-radius: $border-radius;
  }

  .register-paragraph {
    line-height: 1.1;
  }

  .file-label {
    @include inline-flex;
  }

  .file-btn {
    padding: 5px 10px;
    border-radius: 0;
    font-size: 12px;
    margin-right: 10px;
  }

  .file-note {
    font-size: 12px;
    line-height: 1;
  }

  .file-upload-btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 20px;
    border-radius: 0;
  }

  .file-name {
    line-height: 30px;
  }

  .submit-btn {
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
  }
}
