<!-- type: green || transparent || blue -->
<ul class="social-links @@type">

  <!-- facebook link -->
  <li class="list-item">
    <a href="" class="social-link" rel="noopener noreferrer" target="_blank">
      facebook
    </a>
  </li>

  <!-- twitter link-->
  <li class="list-item">
    <a href="" class="social-link" rel="noopener noreferrer" target="_blank">
      twitter
    </a>
  </li>

  <!-- instagram link-->
  <li class="list-item">
    <a href="" class="social-link" rel="noopener noreferrer" target="_blank">
      instagram
    </a>
  </li>

  <!-- github link -->
  <li class="list-item">
    <a href="" class="social-link" rel="noopener noreferrer" target="_blank">
      github
    </a>
  </li>

  <!-- medium link -->
  <li class="list-item">
    <a href="" class="social-link" rel="noopener noreferrer" target="_blank">
      medium
    </a>
  </li>

</ul>
