<!--
	The data layer set for Google Tag Manager
-->
<script>

	dataLayer = [{
		"page": {
			"type": "form"
		}
	}];

</script>

<section class="register-register-section">
	<div class="container">
		<div class="card-block register-card">
			<h1 class="typo-h1 text-blue text-center mb-2">Step 2: Tell us about Yourself</h1>
			<div class="typo-h3 text-gray typo-bold text-center">* Required</div>
			<hr class="divider divider__gray my-3">
			<div class="message text-center text-gray mb-3">
				Note: Your privacy is very important to us. To better serve you, the form information you enter is recorded in
				real time.
			</div>

			<form>


				<div class="js-form-group mb-3">
					<label for="country" class="typo-h4 typo-bold text-gray form-label w-100">Country*</label>
					<select id="country" class="form-select">
						<option value="null" selected="selected" disabled="disabled">Select an option</option>
						<option value="USA">USA</option>
						<option value="Canada">Canada</option>
						<option value="UK">UK</option>
						<option value="Other">Other</option>
					</select>
				</div>


				<div class="js-form-group mb-3">
					<label for="state" class="typo-h4 typo-bold text-gray form-label w-100">State*</label>
					<select id="state" class="form-select">
						<option value="null" selected="selected" disabled="disabled">Select an option</option>
						<option value="AK">Alaska</option>
						<option value="AL">Alabama</option>
						<option value="AR">Arkansas</option>
						<option value="AS">American Samoa</option>
						<option value="AZ">Arizona</option>
						<option value="CA">California</option>
						<option value="CO">Colorado</option>
						<option value="CT">Connecticut</option>
						<option value="DC">District of Columbia</option>
						<option value="DE">Delaware</option>
						<option value="FL">Florida</option>
						<option value="GA">Georgia</option>
						<option value="GU">Guam</option>
						<option value="HI">Hawaii</option>
						<option value="IA">Iowa</option>
						<option value="ID">Idaho</option>
						<option value="IL">Illinois</option>
						<option value="IN">Indiana</option>
						<option value="KS">Kansas</option>
						<option value="KY">Kentucky</option>
						<option value="LA">Louisiana</option>
						<option value="MA">Massachusetts</option>
						<option value="MD">Maryland</option>
						<option value="ME">Maine</option>
						<option value="MI">Michigan</option>
						<option value="MN">Minnesota</option>
						<option value="MO">Missouri</option>
						<option value="MS">Mississippi</option>
						<option value="MT">Montana</option>
						<option value="NC">North Carolina</option>
						<option value="ND">North Dakota</option>
						<option value="NE">Nebraska</option>
						<option value="NH">New Hampshire</option>
						<option value="NJ">New Jersey</option>
						<option value="NM">New Mexico</option>
						<option value="NV">Nevada</option>
						<option value="NY">New York</option>
						<option value="OH">Ohio</option>
						<option value="OK">Oklahoma</option>
						<option value="OR">Oregon</option>
						<option value="PA">Pennsylvania</option>
						<option value="PR">Puerto Rico</option>
						<option value="RI">Rhode Island</option>
						<option value="SC">South Carolina</option>
						<option value="SD">South Dakota</option>
						<option value="TN">Tennessee</option>
						<option value="TX">Texas</option>
						<option value="UT">Utah</option>
						<option value="VA">Virginia</option>
						<option value="VI">Virgin Islands</option>
						<option value="VT">Vermont</option>
						<option value="WA">Washington</option>
						<option value="WI">Wisconsin</option>
						<option value="WV">West Virginia</option>
						<option value="WY">Wyomin</option>
						<option value="Other">Other</option>
					</select>
				</div>


				<div class="js-form-group mb-3">
					<label for="city" class="typo-h4 typo-bold text-gray form-label w-100">Your City & State/Province*</label>
					<input type="text" class="form-input" id="city" placeholder="City, State (Salt Lake City, UT)" title="City, State (Salt Lake City, UT)">
				</div>


				<div class="js-form-group mb-3">
					<label for="phone" class="typo-h4 typo-bold text-gray form-label w-100">Your City & State/Province*</label>
					<input type="tel" class="form-input" id="phone" placeholder="555-555-5555" title="555-555-5555">
				</div>


				<div class="js-form-group mb-3">
					<label for="education" class="typo-h4 typo-bold text-gray form-label w-100">What is your Education level?*</label>
					<select id="education" class="form-select">
						<option value="null" selected="selected" disabled="disabled">Select an option</option>
						<option value="University/College Degree">University/College Degree</option>
						<option value="Enrolled in University/College">Enrolled in University/College</option>
						<option value="Associates Degree">Associates Degree</option>
						<option value="High School Degree">High School Degree</option>
						<option value="No Degree">No Degree</option>
					</select>
				</div>


				<div class="js-form-group mb-3">
					<label for="work_permit" class="typo-h4 typo-bold text-gray form-label w-100">Are you legally eligible to work in the USA or Canada?*</label>
					<select id="work_permit" class="form-select">
						<option value="null" selected="selected" disabled="disabled">Select an option</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>

				<p class="typo-paragraph text-gray mb-3 register-paragraph">
					Let us know some good times for you to be able to teach! You can always change your availability once you
					start working with us, so feel free to Check All if you can be available.
				</p>


				<div class="js-form-group mb-3" id="ms">
					<div class="typo-h4 typo-bold text-gray form-label w-100 mb-2">
						What is your Daytime(Mon-Sun) availability? Please select two or more*
					</div>
					<div class="d-flex flex-column align-items-start">
						<label class="checkbox-label">
							<input type="checkbox" class="d-none" value="6:40 - 7:10am EST" id="ms_1">
							<span class="checkmark"></span>
							6:40 - 7:10am EST
						</label>
						<label class="checkbox-label">
							<input type="checkbox" class="d-none" value="7:20 - 7:50am EST" id="ms_2">
							<span class="checkmark"></span>
							7:20 - 7:50am EST
						</label>
						<label class="checkbox-label">
							<input type="checkbox" class="d-none" value="8:20 - 8:30am EST" id="ms_3">
							<span class="checkmark"></span>
							8:20 - 8:30am EST
						</label>
						<label class="checkbox-label">
							<input type="checkbox" class="d-none" value="8:40 - 9:10am EST" id="ms_4">
							<span class="checkmark"></span>
							8:40 - 9:10am EST
						</label>
					</div>
				</div>


				<div class="js-form-group mb-3" id="fs">
					<div class="typo-h4 typo-bold text-gray form-label w-100 mb-2">
						How about on Friday and Saturday night? Please select two or more*
					</div>
					<div class="d-flex flex-column align-items-start">
						<label class="checkbox-label">
							<input type="checkbox" class="d-none" value="8:40 - 9:10pm EST" name="night-work" id="fs_1">
							<span class="checkmark"></span>
							8:40 - 9:10pm EST
						</label>
						<label class="checkbox-label">
							<input type="checkbox" class="d-none" value="9:20 - 9:50pm EST" name="night-work" id="fs_2">
							<span class="checkmark"></span>
							9:20 - 9:50pm EST
						</label>
						<label class="checkbox-label">
							<input type="checkbox" class="d-none" value="10:00 - 10:30pm EST" name="night-work" id="fs_3">
							<span class="checkmark"></span>
							10:00 - 10:30pm EST
						</label>
						<label class="checkbox-label">
							<input type="checkbox" class="d-none" value="10:40 - 11:10pm EST" name="night-work" id="fs_4">
							<span class="checkmark"></span>
							10:40 - 11:10pm EST
						</label>
						<label class="checkbox-label">
							<input type="checkbox" class="d-none" value="11:20 - 11:50pm EST" name="night-work" id="fs_5">
							<span class="checkmark"></span>
							11:20 - 11:50pm EST
						</label>
					</div>
				</div>


				<div class="text-right">
					<button class="control-gray-btn" type="submit">NEXT</button>
				</div>


			</form>
		</div>
	</div>
</section>

<script>

//
//	1.	Get the user session from the cookies
//
var session = Cookies.getJSON('tpt_session');

//
//	2.	Loop over the whole object and look for the matching HTML element,
//		and populate it with the data.
//
$.each(session.fields, function(key, value) {

	//
	//	1.	Set the value of the input
	//
	$('#' + key).val(value);

	//
	//	2.	Check if we are dealing with checkboxes
	//
	if(value === true)
	{
		//
		//	1.	Mark the checkbox as selected
		//
		$('#' + key).prop("checked", true);
	}

});

//
//	3.	Setup a listener which will react each time a input form is
//		changed so we can keep saving the user information so he or she
//		can always return to the form later
//
$(".js-form-group").change(function() {

	//
	//	1.	Get the ID of the input form, which will become the key of the
	//		JS Object
	//
	var key = $($(this).children()[1]).attr('id');

	//
	//	2.	Get the value that will be saved under the Key
	//
	var value = $($(this).children()[1]).val();

	//
	//	3.	If there are not default input values, there is a chance the
	//		form change was because of check boxes.
	//
	if(!key || !value)
	{
		//
		//	1.	Loop over check boxes
		//
		$(this).children().children().each(function(index, div) {

			$(div).children().each(function(index, check) {

				//
				//	1.	If checked we enable the key, and save it to the
				//		session
				//
				if(check.checked)
				{
					var key = $(check).attr('id');

					session.fields[key] = true;
				}

				//
				//	2.	If not checked we set an empty value so we remove it
				//		from Airtable
				//
				if(!check.checked)
				{
					var key = $(check).attr('id');

					//
					//	1.	Make sure we have this key in our session
					//
					if(session.fields[key])
					{
						session.fields[key] = "";
					}
				}

			});

		});
	}

	//
	//	4.	Set a non check box value only when there is data
	//
	if(key || value)
	{
		//
		//	1.	Save or update the data in the user session
		//
		session.fields[key] = value;
	}

	//
	//	5.	Update Cookies no matter what for simplicity sake
	//
	Cookies.set('tpt_session', session, { secure: true });

	//
	//	6.	Make the first request to save the partial data that the user
	//		submitted, so then in our DB we know what is missing and can
	//		ping the user to let them know what is left.
	//
	save_to_airtable(session, function() {});

});

//	  ____    _   _
//	 / __ \  | \ | |
//	| |  | | |  \| |
//	| |  | | | . ` |
//	| |__| | | |\  |
//	 \____/  |_| \_|
//

//
//	<<>	React when the user wants to log in.
//
$('form').on("submit", function(event) {

	//
	//	1.	Prevent the default form action so we can process the action
	//		our way.
	//
	event.preventDefault();

	//
	//	->	Redirect the user to the next step
	//
	window.location.replace('resume.html');

});

</script>