<form>

	<h1">Create an account</h1>

	<input type="full_name" id="full_name" placeholder="Full name" autocomplete="full-name" required="" autofocus="">

	<input type="email" id="email" placeholder="Email" autocomplete="email" required="">

	<button type="submit">Apply</button>

</form>

<script>

//
//	1.	Get the user session from the cookies. At this stage we might not have
//		it if we are dealing with a new user. A session will be present
//		only if we are dealing with a returning user.
//
var session = Cookies.getJSON('tpt_session');

//
//	2.	Check if we got the session
//
if(session)
{
	//
	//	1.	Loop over the whole object and look for the matching HTML element,
	//		and populate it with the data.
	//
	$.each(session.fields, function(key, value) {

		//
		//	1.	Set the value of the input
		//
		$('#' + key).val(value);

	});
}

//	  ____    _   _
//	 / __ \  | \ | |
//	| |  | | |  \| |
//	| |  | | | . ` |
//	| |__| | | |\  |
//	 \____/  |_| \_|
//

//
//	<<>	React when the user submits the form
//
$('form').on("submit", function(event) {

	//
	//	1.	Prevent the default form action so we can process the action
	//		our way.
	//
	event.preventDefault();

	//
	//	2.	Get the user inputs
	//
	var full_name 	= $('#full_name').val();
	var email 		= $('#email').val();

	//
	//	3.	If we have a session we update the data since the user might have
	//		decided to change the name email or fix a typo.
	//
	if(session)
	{
		session.fields.full_name = full_name;
		session.fields.email = email;
	}

	//
	//	4.	If there isn't a session we create a new one.
	//
	if(!session)
	{
		session = {
			fields: {
				full_name: full_name,
				email: email,
				submission_date: moment().toISOString()
			}
		}
	}

	//
	//	5.	Insert or Updated the data to Airtable
	//
	save_to_airtable(session, function(id) {

		//
		//	1.	Save the Airtable ID so we can update the user record in all
		//		the subsequent pages.
		//
		session.id = id;

		//
		//	2.	Create the continuation ID so if used one can continue filling
		//		the form from another device.
		//
		var url = 'https://'
				+ document.location.hostname
				+ '/restore?continuation_id='
				+ id;

		//
		//	3.	Create the data to be sent to Airtable
		//
		var continuation_url = {
			id: id,
			fields: {
				continuation_url: url
			}
		}

		//
		//	3.	Update Airtable
		//
		save_to_airtable(continuation_url, function() {

			//
			//	2.	Save the whole user session so we can save the progress of the
			//		page.
			//
			Cookies.set('tpt_session', session, { secure: true });

			//
			//	->	Redirect the user to the next step
			//
			window.location.replace('form.html');

		});

	});

});

</script>