<script crossorigin="anonymous" src="./assets/js/jquery-ui-v1.12.1.min.js"></script>
<script crossorigin="anonymous" src="./assets/js/jquery.iframe-transport-v1.0.1.js"></script>
<script crossorigin="anonymous" src="./assets/js/jquery.fileupload-v9.21.0.js"></script>

<form>

	<h1">Please upload a copy of your latest resume.</h1>

	<!--

		The fileinput-button span is used to style the file input field as button

	-->
	<span class="btn btn-success fileinput-button">
		<i class="glyphicon glyphicon-plus"></i>
		<span>Select files...</span>
		<!-- The file input field used as target for the file upload widget -->
		<input id="fileupload" type="file" name="files[]" multiple>
	</span>

	<!--

		The global progress bar

	-->
	<div id="progress" class="progress">
		<div class="progress-bar progress-bar-success"></div>
	</div>

</form>

<script>

//
//	Get the user session from the cookies
//
var session = Cookies.getJSON('tpt_session');

//
//	File uploader
//
$(function () {

	'use strict';

	//
	//	Start uploading the file
	//
	$('#fileupload').fileupload({
		//
		//	Set the URL where to send the data
		//
		url: "https://requestbin.fullcontact.com/1m81zj61",
		//
		//	Set the type of response to expect from the server. it should be
		//	JSON right now, but while testing it must be text
		//
		dataType: 'text',
		//
		//	We just need to be able to send one file
		//
		singleFileUploads: true
	})
	.bind('fileuploadprogress', function (error, data) {

		//
		//	1.	Calculate the percentage of data sent
		//
		var progress = parseInt(data.loaded / data.total * 100, 10);

		//
		//	2.	Update the CSS progress bar to visually represent the %
		//
		$('#progress .progress-bar').css('width', progress + '%');

	})
	.bind('fileuploaddone', function (error, data) {

		//
		//	1.	Save or update the data in the user session
		//
		session.resume = data.result;

		//
		//	2.	Update Cookies no matter what for simplicity sake
		//
		Cookies.set('tpt_session', session);

		//
		//	->	Redirect the user to the next step
		//
		window.location.replace('video.html');

	});

});

</script>