<form>

	<h1>Final Step: Record a short Introduction Video</h1>

	<p>To complete your application, simply record a quick 60-second video interview and include the following:</p>

	<ul>
		<li>Your First and Last Name.</li>
		<li>The City you live in.</li>
		<li>Your Level of education.</li>
		<li>Describe your experience with kids or teaching in just a few sentences.</li>
		<li>After your introduction, please tell or read a short story (<a href="mouse.html" target="_blank"></a>here’s a sample to read)</a>.</li>
	</ul>

	<hr>

	<p>If you're looking for inspiration, click <a href="https://www.youtube.com/watch?v=nOgrYxcBTyw">here</a> to see a successful demo video.</p>

	<p>Have you already created a video? Simply upload it to YouTube and paste the url into the field below.</p>

	<hr>

	<div id="hdfvr-content"></div>

	<hr>

	<div class="form-group">
		<label>Created a Video already? Paste the URL below.</label>
		<input id="youtube_url" type="text" required="">
		<div class="invalid-feedback">
			There is something wrong with the email.
		</div>
	</div>

	<button id="submit">Submit</button>

</form>

<script>

//	  _____  ______  _______  _______  _____  _   _   _____   _____
//	 / ____||  ____||__   __||__   __||_   _|| \ | | / ____| / ____|
//	| (___  | |__      | |      | |     | |  |  \| || |  __ | (___
//	 \___ \ |  __|     | |      | |     | |  | . ` || | |_ | \___ \
//	 ____) || |____    | |      | |    _| |_ | |\  || |__| | ____) |
//	|_____/ |______|   |_|      |_|   |_____||_| \_| \_____||_____/
//

//
//	1.	This nr. tells Pipe Video to which environment to save the video.
//		by default we assume we are dealing with the Development environment.
//
var environment = 2;

//
//	2.	Check if we are running on the production domain
//
if(get_domain(document.location.hostname) != 'teachpart-time')
{
	environment = 1;
}

//
//	3.	Set size options for the video player size that is used for HTML 5
//
var size = {
	width: 520,
	height: 330
};

//
//	4.	Set settings for the video recorder in general
//
var flashvars = {
	qualityurl: "avq/480p.xml",
	accountHash: "9686b37512ceb0ef660755cdb0e8bd5f",
	eid: environment,
	showMenu: "true",
	mrt: 120,
	sis: 0,
	asv: 1,
	mv: 0,
	dpv: 0,
	ao: 0,
	dup: 0
};

//
//	5.	Get the user session from the cookies
//
var session = Cookies.getJSON('tpt_session');

//
//	6.	Track if we can go to the final page
//
var we_cant_progress = true;

//	  ____    _   _
//	 / __ \  | \ | |
//	| |  | | |  \| |
//	| |  | | | . ` |
//	| |__| | | |\  |
//	 \____/  |_| \_|
//

//
//	<<>	React when the user wants to log in.
//
$('#submit').on("click", function(event) {

	//
	//	1.	Prevent the default form action so we can process the action
	//		our way.
	//
	event.preventDefault();

	//
	//	2.	Check if we are not allowed to move forward
	//
	if(we_cant_progress)
	{
		alert("You need to record a video");
		return;
	}

	//
	//	3.	Mark the session as complete, meaning the user did went through
	//		the whole form.
	//
	session.done = true;

	//
	//	4.	Update Cookies no matter what for simplicity sake
	//
	Cookies.set('tpt_session', session, { secure: true });

	//
	//	5.	Save all the final data to the DB
	//
	$.post("https://mockbin.com/request", session, function(data, status) {

		//
		//	->	Redirect the user to the next step
		//
		window.location.replace('thankyou.html');

	})
	.fail(function(error) {

		console.log(error);

	});

});

//
//	3.	Setup a listener which will react each time a input form is
//		changed so we can keep saving the user information so he or she
//		can always return to the form later
//
$(".form-group").change(function() {

	//
	//	1.	Get the ID of the input form, which will become the key of the
	//		JS Object
	//
	var key = $($( this ).children()[1]).attr('id');

	//
	//	2.	Get the value that will be saved under the Key
	//
	var value = $($( this ).children()[1]).val();

	//
	//	3.	Save or update the data in the user session
	//
	session[key] = value;

	//
	//	4.	Update Cookies no matter what for simplicity sake
	//
	Cookies.set('tpt_session', session, { secure: true });

	//
	//	5.	Mark that we can move forward
	//
	we_cant_progress = false;

	//
	//	5.	Make the first request to save the partial data that the user
	//		submitted, so then in our DB we know what is missing and can
	//		ping the user to let them know what is left.
	//
	$.post("https://mockbin.com/request", session, function(data, status) {

		console.log("Saved");

	})
	.fail(function(error) {

		console.log(error);

	});

});

//	 _        _____    _____   _______   _   _   ______   _____     _____
//	| |      |_   _|  / ____| |__   __| | \ | | |  ____| |  __ \   / ____|
//	| |        | |   | (___      | |    |  \| | | |__    | |__) | | (___
//	| |        | |    \___ \     | |    | . ` | |  __|   |  _  /   \___ \
//	| |____   _| |_   ____) |    | |    | |\  | | |____  | | \ \   ____) |
//	|______| |_____| |_____/     |_|    |_| \_| |______| |_|  \_\ |_____/
//

//
//	WARNING: 	this functions needs to be before we initialize Pipe Video
//				so Pipe can see this functions and use them
//

//
//	FOR MOBILE: react when the video is saved
//
function onVideoUploadSuccess(filename, filetype, videoId, audioOnly, location)
{
	video_saved(location, streamName);
}

//
//	FOR DESKTOP: react when the video is saved
//
function onSaveOk(
	streamName, streamDuration, userId, cameraName, micName, recorderId,
	audioCodec, videoCodec, fileType, videoId, audioOnly, location
)
{
	video_saved(location, streamName);
}

//	 _____    _____   _____    ______
//	|  __ \  |_   _| |  __ \  |  ____|
//	| |__) |   | |   | |__) | | |__
//	|  ___/    | |   |  ___/  |  __|
//	| |       _| |_  | |      | |____
//	|_|      |_____| |_|      |______|
//

//
//	1.	Initialize Pipe
//
(function() {
	var pipe = document.createElement('script');
	pipe.type = 'text/javascript';
	pipe.async = true;
	pipe.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 's1.addpipe.com/1.3/pipe.js';
	var s = document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(pipe, s);
})();

//	 _    _   ______   _        _____    ______   _____     _____
//	| |  | | |  ____| | |      |  __ \  |  ____| |  __ \   / ____|
//	| |__| | | |__    | |      | |__) | | |__    | |__) | | (___
//	|  __  | |  __|   | |      |  ___/  |  __|   |  _  /   \___ \
//	| |  | | | |____  | |____  | |      | |____  | | \ \   ____) |
//	|_|  |_| |______| |______| |_|      |______| |_|  \_\ |_____/
//

//
//	This is the main function that has all the code to handle the saved
//	video. This is done because Pipe Video, will call back different
//	function based on the device the video was recorded.
//
//	This way we have one function that takes care of everything.
//
function video_saved(location, streamName)
{
	//
	//	1.	Get the URL of the recorded video
	//
	session.recording = "https://"
					  + location
					  + "/"
					  + flashvars.accountHash
					  + "/"
					  + streamName
					  + ".mp4";

	//
	//	2.	Mark that we can move forward
	//
	we_cant_progress = false;

	//
	//	3.	Update Cookies no matter what for simplicity sake
	//
	Cookies.set('tpt_session', session, { secure: true });

	//
	//	4.	Make the final call to save all of the data submitted by the user
	//
	$.post("https://mockbin.com/request", session, function(data, status) {

		console.log("Saved");

	})
	.fail(function(error) {

		console.log(error);

	});
}

//
//	Basic function to extract the domain out of the hostname. Won't work with
//	domains like co.uk etc.
//
function get_domain(url)
{
	let peaces = url.split('.');

	return peaces[peaces.length - 2];
}

</script>